     color: var(--second-color);
}

.social .bx:hover {
    color: var(--second-color);
    transition: 0.3s all linear;
}

/* Conteúdo do post */

.post-header {
    width: 100%;
    height: 500px;
}

.post-conteiner {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.back-home {
    color: var(--second-color);
    font-size: 0.9rem;
}

.header-title {
    width: 90%;
    font-size: 2.6rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    object-position: center;
}

.post-content {
    margin-top: 10rem;
}

.sub-heading {
    font-size: 1.2rem;
}

.post-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

iframe {
    border-radius: 10px;
    width: 100%;
    height: 270px;
}

/* Responsividade */

@media (max-width: 1068px) {
    .conteiner {     
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .nav {
        padding: 14px 0;
    }

    .post-conteiner {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width: 768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .header-content {
        margin-top: 3rem;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 2.5rem;
    }

    .header-title {
        font-size: 2rem;
    }

    .header-img {
        height: 370px;
        margin-top: 100px;
    }

    .post-header {
        height: 435px;
    }

    .post-content {
        margin-top: 9rem;
    }
}

@media (max-width: 570px) {
    .post-header {
        height: 390px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 340px;
    }

    .footer {
        flex-direction: column;
        row-gap: 1rem;
        padding: 20px 0;
        text-align: center;
    }
}

@media (max-width: 396px) {
    .home-title {
        font-size: 2rem;
    }

    .home-subtitle {
        min-height: 300px;
    }

    .home {
        min-height: 300px;
    }

    .post-box {
        padding: 10px;
    }

    .header-title {
        font-size: 1.4rem;
    }

    .header-img {
        height: 240px;
    }

    .post-header {
        height: 335px;
    }

    .post-content {
        margin-top: 5rem;
    }

    .post-text {
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin: 10px 0;
    }
}
